name: Build and Deploy

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration Release

      - name: Publish
        run: dotnet publish --configuration Release --output ./publish

      - name: Azure Login
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_MANAGED_IDENTITY_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_MANAGED_IDENTITY_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_MANAGED_IDENTITY_SUBSCRIPTION_ID }}

      - name: Deploy to Azure Functions
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: Azure/functions-action@v1
        with:
          app-name: loan-system-test-functionapp-catalogue
          package: ./publish
